<p-panel
  [showHeader]="false"
  [style]="{
    height: '100%',
    width: '250px',
    padding: '0.825rem',
  }"
>
  <aside class="sidebar">
    <header class="sidebar-header">
      <div class="buttons">
        <p-button icon="pi pi-caret-right" [outlined]="true" />
        <p-button icon="pi pi-pen-to-square" [outlined]="true" />
      </div>
    </header>
    <nav class="sidebar-nav">
      <ul>
        <li><a href="#dashboard">Dashboard</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#teams">Teams</a></li>
        <li><a href="#calendar">Calendar</a></li>
        <li><a href="#settings">Settings</a></li>
        <li><a href="#logout">Logout</a></li>
      </ul>
    </nav>
    <footer class="sidebar-footer">
      <i class="pi pi-linkedin" style="font-size: 2rem"></i>
      <p>&copy; 2025 Suadev</p>
    </footer>
  </aside>
</p-panel>
