/* Header styles */
.sidebar-container {
  height: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm);
}

.header .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Sidebar item styles */
.item-sidebar-collapsed {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-sm);
  align-items: center;
  justify-content: center;
}
.item-sidebar-expanded {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-sm);
}
/* Utility classes */
.classname {
  display: none;
  overflow: hidden;
}

::ng-deep .p-menu {
  min-width: none;
}
