<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div class="modal">
    <div class="modal-body">
      <div class="input-text">
        <label for="name">Project Name:</label>
        <input
          pInputText
          type="text"
          id="name"
          class="form-control"
          formControlName="name"
          placeholder="Enter project name"
        />
        <p-message
          severity="error"
          *ngIf="
            projectForm.get('name')?.touched &&
            projectForm.get('name')?.hasError('required')
          "
          >Project name is required.</p-message
        >
      </div>

      <div class="columns" formArrayName="columns">
        <label>Columns:</label>
        <div
          class="column"
          *ngFor="let control of columnArray.controls; let i = index"
        >
          <div class="column-group" formGroupName="{{ i }}">
            <input
              [style]="{
                width: '100%'
              }"
              pInputText
              [id]="i"
              formControlName="columnName"
            />
            <p-button
              icon="pi pi-times"
              [text]="true"
              *ngIf="i !== 0"
              (click)="removeColumn(i)"
            />
          </div>
          <p-message
            severity="error"
            *ngIf="
              control.get('columnName')?.touched &&
              control.get('columnName')?.hasError('required')
            "
            >Column name is required.</p-message
          >
        </div>
        <p-button
          [style]="{
            width: '100%'
          }"
          icon="pi pi-plus"
          severity="secondary"
          label="Add Column"
          (click)="addColumn()"
        />
      </div>
    </div>
    <div class="modal-footer">
      <p-button type="button" (click)="onCancel()"> Cancel </p-button>
      <p-button
        type="submit"
        label="Create Project"
        [disabled]="projectForm.invalid"
      />
    </div>
  </div>
</form>
