<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-3">
    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-3">
        <label for="name">
          <b>Project Name: </b>
        </label>
        <input
          pInputText
          type="text"
          id="name"
          formControlName="name"
          placeholder="Enter project name"
        />
        <p-message
          severity="error"
          *ngIf="
            projectForm.get('name')?.touched &&
            projectForm.get('name')?.hasError('required')
          "
          >Project name is required.</p-message
        >
      </div>

      <div class="flex flex-col gap-3" formArrayName="columns">
        <label>
          <b>Columns: </b>
        </label>
        <div
          class="flex flex-col gap-3"
          *ngFor="let control of columnArray.controls; let i = index"
        >
          <div class="flex flex-row gap-3" formGroupName="{{ i }}">
            <input
              [style]="{
                width: '100%'
              }"
              pInputText
              [id]="i"
              formControlName="columnName"
            />
            <p-button
              icon="pi pi-times"
              [text]="true"
              *ngIf="i !== 0"
              (click)="removeColumn(i)"
            />
          </div>
          <p-message
            severity="error"
            *ngIf="
              control.get('columnName')?.touched &&
              control.get('columnName')?.hasError('required')
            "
            >Column name is required.</p-message
          >
        </div>
        <p-button
          [style]="{
            width: '100%'
          }"
          icon="pi pi-plus"
          severity="secondary"
          label="Add Column"
          (click)="addColumn()"
        />
      </div>
    </div>
    <div class="w-full flex flex-row items-center justify-between">
      <p-button label="Close" (click)="onCancel()" />
      <p-button
        type="submit"
        label="Create Project"
        [disabled]="projectForm.invalid"
      />
    </div>
  </div>
</form>
