.parent-container {
  max-height: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: var(--gap-md);
  padding: 0 var(--padding);
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--padding);
  }
}
