<div class="h-fulll flex flex-col gap-4 overflow-y-auto">
  <input pInputText type="text" id="name" placeholder="Enter task name" />
  <div class="flex flex-row gap-2 flex-wrap mb-3">
    <div class="badge badge-soft badge-primary">Primary</div>
    <div class="badge badge-soft badge-secondary">Secondary</div>
    <div class="badge badge-soft badge-accent">Accent</div>
    <div class="badge badge-soft badge-info">Info</div>
    <div class="badge badge-soft badge-success">Success</div>
    <div class="badge badge-soft badge-warning">Warning</div>
    <div class="badge badge-soft badge-error">Error</div>
  </div>
  <div class="flex flex-col gap-2">
    <span class="">Labels</span>
    <div class="flex flex-row gap-1 flex-wrap">
      <div class="badge badge-soft badge-primary">Primary</div>
      <div class="badge badge-soft badge-secondary">Secondary</div>
      <div class="badge badge-soft badge-accent">Accent</div>
      <div class="badge badge-soft badge-info">Info</div>
      <div class="badge badge-soft badge-success">Success</div>
      <div class="badge badge-soft badge-warning">Warning</div>
      <div class="badge badge-soft badge-error">Error</div>
    </div>
  </div>
  <form [formGroup]="form">
    <div class="flex flex-col gap-2">
      <h2 class="text-lg font-bold">Subtasks:</h2>
      <div formArrayName="subtasks" class="flex flex-col gap-2">
        @for(subtask of subtasks.controls; track $index){

        <div [formGroupName]="$index" class="flex flex-row gap-2 items-center">
          <p-checkbox
            [inputId]="$index + ''"
            name="task"
            value="completed"
            [binary]="true"
            formControlName="completed"
          />
          <input
            pInputText
            type="text"
            formControlName="task"
            pSize="small"
            placeholder="Enter subtask name"
            class="w-full"
          />
          <p-button
            icon="pi pi-times"
            text="true"
            [size]="'small'"
            (click)="removeSubtask($index)"
          />
        </div>
        }
      </div>
      <div class="flex flex-row justify-end">
        <p-button
          label="Add New Subtask"
          icon="pi pi-plus"
          outlined="true"
          [size]="'small'"
          (click)="addSubtask()"
        />
      </div>
    </div>

    <div class="flex flex-col gap-1 mt-4">
      <h2 class="text-lg font-bold">Description:</h2>
      <p-editor formControlName="text" [style]="{ height: '320px' }"></p-editor>
    </div>
  </form>

  <div class="flex flex-row justify-end gap-2">
    <p-button type="submit" label="Close" outlined="true" />
    <p-button type="submit" label="Submit" icon="pi pi-check" />
  </div>
</div>
