<div class="board">
  <div class="board-header"></div>
  <div class="board-content">
    @for (boardItem of boardItems; track boardItem) {
    <p-panel
      [header]="boardItem.columnName"
      class="w-96"
      [style]="{
        height: '100%'
      }"
    >
      <div
        cdkDropList
        [id]="boardItem.columnName"
        [cdkDropListData]="boardItem.items"
        [ngClass]="
          boardItem.items.length > 0 ? 'example-list' : 'example-list empty'
        "
        [cdkDropListConnectedTo]="getConnnectedColumns(boardItem.columnName)"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of boardItem.items; track item) {
        <p-panel
          class="item-card"
          [header]="item.title"
          cdkDrag
          (click)="itemClick()"
        >
          <div class="item">
            <div class="labels">
              <p-tag
                severity="secondary"
                [value]="'Priority: ' + item.priority"
              />
              <p-tag severity="success" [value]="'Effor: ' + item.effort" />
            </div>
            <div class="tasks">0 of 3 subtasks</div>
          </div>
        </p-panel>
        }
      </div>
    </p-panel>
    }
  </div>
</div>
